@charset 'utf-8';
@import url(common.css);
/* about me */
.me{
    width: 100%; height: 100vh;
    position: relative;
}
.content0{
    height: 100%;
    padding: 100px;
}
.title{
    height: 100%; padding-left: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.title h1{
    font-size: 265px;
    font-family: inherit;
    margin-top: 5%;
    -webkit-text-stroke: 0.01em #858585;
    color: transparent;
    letter-spacing: -3px
}

.title p{
    font-family: inherit;
    font-size: 45px;
    font-weight: 600;
    width: 60%;
    word-break: keep-all;
    line-height: 1.8;
}
.contact {margin-top: 5%;}
.contact a{
    text-decoration: none;
    color: #db2a2a;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: 0.333333em;
    text-transform: uppercase;
    font-weight: 500;
}

.contact > a::after{
    content: '';
    height: 1px;
    background: #db2a2a;
    width: 18.333333em;
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
}

/* circle */
.circle{
    position: absolute;
    bottom: 0; right: 5%;
    width: 500px;
    height: 450px;
    border-radius: 50%;
}
.text{
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotate-text 8s linear infinite;
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 1.8em;
    transform-origin: 0 200px;
    color: transparent;
    -webkit-text-stroke: 0.05em #858585;
}
/* section 2 */
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    opacity: 0;
    transform: translatex(100%);
    transition: .9s;
    overflow: hidden;
    /* width: 75%; height: 550px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: relative;
    opacity: 0;
    transform: translateY(150px);
    transition: .8s; */
}
.content.visible{
    transform: translatex(0);
    opacity: 1;
}

.character{
    flex-basis: 40%;
    position: sticky;
}
.character figure {height: 100%; width: 400px;}
.character figure img{
    filter: grayscale(1);
    width: 100%;
}
.tape-left{
    position: absolute;
    top: -5%; left: -13%;
    transform: rotate(145deg);
}
.tape-left img, .tape-right img{width: 170px;}
.tape-right{
    position: absolute;
    top: -5%; left: 45%;
    transform: rotate(230deg);
}
.user{
    flex-basis: 50%;
    /* padding: 5% 0; */
    /* padding-left: 4em; */
}
.con2{
    margin-top: 15em;
}

.user h2{
    font-size: 3em;
    font-weight: 700;
    line-height: 1.8;
}
.info p{margin: .5em 0;}

.info p span{
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .1px;
    color: gray;
    text-align: justify;
    word-break: keep-all;
    /* opacity: 0;
    display: none; */
}

.information-wrap{padding: 100px;}
.tool{width: 80%;}
.my-skills > span{
    position: absolute;
    top: 3%;
    left: 3%;
}

.my-skills h2{
    font-size: 3em;
    color: #fff;
    /* font-size: 2.3em;
    color: gray; */
    flex-basis: 40%;
    margin-bottom: 2%;
}



.development, .design{
    position: relative;
    margin-bottom: 12px;
}
.development h3, .design > h3{
    font-size: 1.8em;
    font-weight: 700;
}
.development::after, .design::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #676767;
    padding-top: 15px;
}

.development > span{
    position: absolute;
    top: 13px;
    left: 30%;
}
.design > span{
    position: absolute;
    top: 18px;
    left: 15%;

}

.development > span > i, .design > span > i, span > i{
    color: #676767; font-size: 32px;
    padding: 0 25px;
}
.rotate{
    transform: rotate(178deg);
}


.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-box{
    height: 0px;
    opacity: 0;
    transition: 1.5s;
}
.development > .skills-box.active{
    height: 520px;
    opacity: 1;
}
.design  > .skills-box.active{
    height: 220px;
    opacity: 1;
}
.skill-name{
    margin: 20px 0;
    font-size: 1.3em;
    font-weight: 100;

}
.skill-bar{
    height: 14px;
    background: #282828;
    flex-basis: 80%;
}
.skill-value{
    height: 14px;
    background: #db2a2a;
    position: relative;
    opacity: 0;
}
.skills-box.active .skill-value{
    animation: fill-bar 3s 1;
    opacity: 1;
}
.skill-value::before{
    content: attr(value);
    position: absolute;
    background: #fff;
    color: #000;
    top: -45px; right: 0;
    transform: translateX(50%);
    padding: 4px;
}

.skill-value::after{
    content: '';
    position: absolute;
    top: -15px; right: 0;
    transform: translateX(50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background: #fff;
}




/* 애니메이션 */

@keyframes fill-bar{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes rotate-text {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    .me{height: 100%;}
    .content0{padding: 50px;}
    .title{padding-left: 0;}
    .title h1{font-size: 8em;}
    .content0{padding: 30px 20px;}
    .title p{font-size: 1.5em;}
    .contact{margin-top: 3%;}
    .circle{
        width: 300px; height: 300px;
        top: 20%; right: 5%;
    }
    .text span{transform-origin: 0 130px;}
    .content{
        padding: 30px 20px;
        display: block;
        transform: translateX(0);
        transform: translateY(0);
        opacity: 1;
    }
    .character{display: none;}
    .character figure{width: 200px;}
    .user h2{font-size:2em; line-height: 1.5;} */
    .info p span{font-size: 16px;}
    .con2{margin-top: 50px;}
    .development h3, .design > h3{font-size: 1.3em;}
    .development > span{top: 5px;left: 25%;}
    .design > span{ top: 10px; left: 25%; }
}